In [3]:
import pandas as pd
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep = '\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [7]:
df_groupby = df.groupby('year')
type(df_groupby)

pandas.core.groupby.generic.DataFrameGroupBy

In [8]:
df_groupby

In [13]:
# df_groupby.info()    # XX
df_groupby['country']  # OK

In [14]:
df_groupby['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [16]:
type(df_groupby['lifeExp'].mean())

pandas.core.series.Series

In [18]:
df_groupby = df.groupby(['year','country'])
df_groupby['lifeExp'].mean()

year  country
1952  Afghanistan           28.801
      Albania               55.230
      Algeria               43.077
      Angola                30.015
      Argentina             62.485
                             ...
2007  Vietnam               74.249
      West Bank and Gaza    73.422
      Yemen, Rep.           62.698
      Zambia                42.384
      Zimbabwe              43.487
Name: lifeExp, Length: 1704, dtype: float64

In [21]:
df_groupby = df.groupby(['year','continent','country'])
df_groupby['lifeExp'].mean()

year  continent  country
1952  Africa     Algeria           43.077
                 Angola            30.015
                 Benin             38.223
                 Botswana          47.622
                 Burkina Faso      31.975
                                    ...
2007  Europe     Switzerland       81.701
                 Turkey            71.777
                 United Kingdom    79.425
      Oceania    Australia         81.235
                 New Zealand       80.204
Name: lifeExp, Length: 1704, dtype: float64

In [28]:
df_groupby = df.groupby(['year','continent'])
df_groupby['gdpPercap'].mean()

year  continent
1952  Africa        1252.572466
      Americas      4079.062552
      Asia          5195.484004
      Europe        5661.057435
      Oceania      10298.085650
1957  Africa        1385.236062
      Americas      4616.043733
      Asia          5787.732940
      Europe        6963.012816
      Oceania      11598.522455
1962  Africa        1598.078825
      Americas      4901.541870
      Asia          5729.369625
      Europe        8365.486814
      Oceania      12696.452430
1967  Africa        2050.363801
      Americas      5668.253496
      Asia          5971.173374
      Europe       10143.823757
      Oceania      14495.021790
1972  Africa        2339.615674
      Americas      6491.334139
      Asia          8187.468699
      Europe       12479.575246
      Oceania      16417.333380
1977  Africa        2585.938508
      Americas      7352.007126
      Asia          7791.314020
      Europe       14283.979110
      Oceania      17283.957605
1982  Africa        2481.592960
      Americas      7506.737088
      Asia          7434.135157
      Europe       15617.896551
      Oceania      18554.709840
1987  Africa        2282.668991
      Americas      7793.400261
      Asia          7608.226508
      Europe       17214.310727
      Oceania      20448.040160
1992  Africa        2281.810333
      Americas      8044.934406
      Asia          8639.690248
      Europe       17061.568084
      Oceania      20894.045885
1997  Africa        2378.759555
      Americas      8889.300863
      Asia          9834.093295
      Europe       19076.781802
      Oceania      24024.175170
2002  Africa        2599.385159
      Americas      9287.677107
      Asia         10174.090397
      Europe       21711.732422
      Oceania      26938.778040
2007  Africa        3089.032605
      Americas     11003.031625
      Asia         12473.026870
      Europe       25054.481636
      Oceania      29810.188275
Name: gdpPercap, dtype: float64

In [31]:
groupby_mean = df_groupby['gdpPercap'].mean()
type(groupby_mean)

pandas.core.series.Series

In [34]:
groupby_mean = df_groupby['gdpPercap','pop','lifeExp'].mean()
groupby_mean

                   gdpPercap           pop    lifeExp
year continent
1952 Africa      1252.572466  4.570010e+06  39.135500
     Americas    4079.062552  1.380610e+07  53.279840
     Asia        5195.484004  4.228356e+07  46.314394
     Europe      5661.057435  1.393736e+07  64.408500
     Oceania    10298.085650  5.343003e+06  69.255000
1957 Africa      1385.236062  5.093033e+06  41.266346
     Americas    4616.043733  1.547816e+07  55.960280
     Asia        5787.732940  4.735699e+07  49.318544
     Europe      6963.012816  1.459635e+07  66.703067
     Oceania    11598.522455  5.970988e+06  70.295000
1962 Africa      1598.078825  5.702247e+06  43.319442
     Americas    4901.541870  1.733081e+07  58.398760
     Asia        5729.369625  5.140476e+07  51.563223
     Europe      8365.486814  1.534517e+07  68.539233
     Oceania    12696.452430  6.641759e+06  71.085000
1967 Africa      2050.363801  6.447875e+06  45.334538
     Americas    5668.253496  1.922986e+07  60.410920
     Asia        5971.173374  5.774736e+07  54.663640
     Europe     10143.823757  1.603930e+07  69.737600
     Oceania    14495.021790  7.300207e+06  71.310000
1972 Africa      2339.615674  7.305376e+06  47.450942
     Americas    6491.334139  2.117537e+07  62.394920
     Asia        8187.468699  6.518098e+07  57.319269
     Europe     12479.575246  1.668784e+07  70.775033
     Oceania    16417.333380  8.053050e+06  71.910000
1977 Africa      2585.938508  8.328097e+06  49.580423
     Americas    7352.007126  2.312271e+07  64.391560
     Asia        7791.314020  7.225799e+07  59.610556
     Europe     14283.979110  1.723882e+07  71.937767
     Oceania    17283.957605  8.619500e+06  72.855000
1982 Africa      2481.592960  9.602857e+06  51.592865
     Americas    7506.737088  2.521164e+07  66.228840
     Asia        7434.135157  7.909502e+07  62.617939
     Europe     15617.896551  1.770890e+07  72.806400
     Oceania    18554.709840  9.197425e+06  74.290000
1987 Africa      2282.668991  1.105450e+07  53.344788
     Americas    7793.400261  2.731016e+07  68.090720
     Asia        7608.226508  8.700669e+07  64.851182
     Europe     17214.310727  1.810314e+07  73.642167
     Oceania    20448.040160  9.787208e+06  75.320000
1992 Africa      2281.810333  1.267464e+07  53.629577
     Americas    8044.934406  2.957096e+07  69.568360
     Asia        8639.690248  9.494825e+07  66.537212
     Europe     17061.568084  1.860476e+07  74.440100
     Oceania    20894.045885  1.045983e+07  76.945000
1997 Africa      2378.759555  1.430448e+07  53.598269
     Americas    8889.300863  3.187602e+07  71.150480
     Asia        9834.093295  1.025238e+08  68.020515
     Europe     19076.781802  1.896480e+07  75.505167
     Oceania    24024.175170  1.112072e+07  78.190000
2002 Africa      2599.385159  1.603315e+07  53.325231
     Americas    9287.677107  3.399091e+07  72.422040
     Asia       10174.090397  1.091455e+08  69.233879
     Europe     21711.732422  1.927413e+07  76.700600
     Oceania    26938.778040  1.172741e+07  79.740000
2007 Africa      3089.032605  1.787576e+07  54.806038
     Americas   11003.031625  3.595485e+07  73.608120
     Asia       12473.026870  1.155138e+08  70.728485
     Europe     25054.481636  1.953662e+07  77.648600
     Oceania    29810.188275  1.227497e+07  80.719500

In [35]:
df_groupby['pop'].sum()

year  continent
1952  Africa        237640501
      Americas      345152446
      Asia         1395357351
      Europe        418120846
      Oceania        10686006
1957  Africa        264837738
      Americas      386953916
      Asia         1562780599
      Europe        437890351
      Oceania        11941976
1962  Africa        296516865
      Americas      433270254
      Asia         1696357182
      Europe        460355155
      Oceania        13283518
1967  Africa        335289489
      Americas      480746623
      Asia         1905662900
      Europe        481178958
      Oceania        14600414
1972  Africa        379879541
      Americas      529384210
      Asia         2150972248
      Europe        500635059
      Oceania        16106100
1977  Africa        433061021
      Americas      578067699
      Asia         2384513556
      Europe        517164531
      Oceania        17239000
1982  Africa        499348587
      Americas      630290920
      Asia         2610135582
      Europe        531266901
      Oceania        18394850
1987  Africa        574834110
      Americas      682753971
      Asia         2871220762
      Europe        543094160
      Oceania        19574415
1992  Africa        659081517
      Americas      739274104
      Asia         3133292191
      Europe        558142797
      Oceania        20919651
1997  Africa        743832984
      Americas      796900410
      Asia         3383285500
      Europe        568944148
      Oceania        22241430
2002  Africa        833723916
      Americas      849772762
      Asia         3601802203
      Europe        578223869
      Oceania        23454829
2007  Africa        929539692
      Americas      898871184
      Asia         3811953827
      Europe        586098529
      Oceania        24549947
Name: pop, dtype: int64